
/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 600px) {

/******************************************
HEADER
******************************************/
  #logo {
    float: left;
    width: 45%;
    margin-left: 5%;
    text-align: left;
  }

  h1 {
    margin: 20px 0 5px 0;
  }

  .navbar {
    float: right;
    margin-right: 5%;
    text-align: right;
    padding-top: 25px;
    top: 0;
  }
  
  .navbar li {
    display: inline-block;
    background: none;
    padding: 0;
  }

  .navbar ul {
    list-style: none;
    margin: 10px 20px 10px 0;
    padding: 0 5px;

  }

  .navbar a {
    color: #fff;
    padding: 10px 2px;
    font-weight: bold;
  }


  .gallery1 li {
    width: 15%;
  }


  .saldi li {
    width: 28.333333%;
    margin: 50px 2.5% 70px 2.5%;
    
  }

  #contact {
      margin-top: 70px;
      margin-bottom: 40px;
  }

  #info {
      width: 50%;
      float: left;
      
  }

    

  #contatti {
      width: 45%;
      float: right;
      margin-top: 40px;
  }


 
}

/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 599px) {
  .navbar a {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
    margin-right: 20px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #000;
    background-color: #fff;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0px;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  #contact {
  margin: 30px 10px 30px 10px;
  padding-top: 5px;

}


  

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {







} 

